# 현재 프로젝트에 필요한 .env key 모음 양식
# .env는 깃에 안 올라가니까 .env.example 만들어서 참고하라고 만듦.

OPENAI_API_KEY={{service api key}}
OPENAI_CHAT_MODEL=gpt-5.6-luna

OPENWEATHER_API_KEY={{service api key}}

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY={{service api key}}
LANGSMITH_PROJECT={{project name}}